@model DataAccess.Models.RoleResponse

<form asp-action="InsertUpdateRole" method="post" role="form">
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Thêm Mới Role</h5>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-body">                         
                            <div class="form-group">
                                <label class="control-label mb-2" asp-for="Name">Role</label>
                                <div class="input-group">
                                    <input type="text" asp-for="Name" class="form-control">
                                    <span asp-validation-for="Name" class="text-warning"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-2" asp-for="NormalizedName">Tên Role</label>
                                <div class="input-group">
                                    <input type="text" asp-for="NormalizedName" class="form-control">
                                    <span asp-validation-for="NormalizedName" class="text-warning"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Đóng</button>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</form>

