@model DataAccess.Models.RoleResponse
<form asp-action="InsertUpdateRole" method="post" role="form">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-purple">
                <h5 class="modal-title text-white" id="myModalLabel">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label mb-2" asp-for="Id">Role Id</label>
                                <input class="form-control filled-input" readonly type="text" value="@Model.Id" asp-for="Id" class="form-control" required>
                                <span asp-validation-for="Id" class="text-warning"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-2" asp-for="Name">Role</label>
                                <input class="form-control filled-input" type="text" value="@Model.Name" asp-for="Name" class="form-control" required>
                                <span asp-validation-for="Name" class="text-warning"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-2" asp-for="NormalizedName">Tên Role</label>
                                <input class="form-control filled-input" type="text" value="@Model.NormalizedName" asp-for="NormalizedName" class="form-control" required>
                                <span asp-validation-for="NormalizedName" class="text-warning"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>




