@{
    ViewBag.Title = "Quản Lý User";
    Layout = "_AdminLayout";
}
@using DataAccess.Entities
@using DataAccess.Models;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService

@section scripts
    {
    <!-- Data table JavaScript -->
    <script>
        $(document).ready(function () {
            "use strict";
            $("#userTable").DataTable({
                "processing": true,
                "serverSide": true,
                "select": false,
                "filter": true,
                "ordering": true,
                "searching": true,
                "pageLength": 50,
                "lengthMenu": [20, 50, 100, 200],
                "dom": '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"lrt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
                "buttons": [
                    { extend: 'excelHtml5', className: 'btn' },
                    { extend: 'selectAll', className: 'btn' },
                    { extend: 'selectNone', className: 'btn' },
                ],
                "language": {
                    "emptyTable": "Không có dữ liệu nào",
                    "search": "Tìm Kiếm:",
                    "lengthMenu": "Hiển thị  _MENU_  dòng",
                    "info": "Hiển thị _START_ đến _END_ trên tổng số _TOTAL_ kết quả",
                    "zeroRecords": "Không tìm thấy kết quả phù hợp",
                    "loadingRecords": "Đợi Chút Nha....",
                    "processing": "Đợi Xíu Nha....",
                    "infoEmpty": "Không có dữ liệu nào",
                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    "sSearchPlaceholder": "Search...",
                    "sLengthMenu": "Results :  _MENU_"
                },
                "ajax": {
                    "url": "/User/LoadData",
                    "dataSrc": "dataResult",
                    "type": "post",
                    "datatype": "json",
                    "data": function (data) {
                        var group = $('input[name="dept"]:checked').val();
                        data.group = group;
                    }
                },
                "select": {
                    'style': 'multi'
                },
                "columnDefs": [
                    {
                        'targets': [0],
                        'className': "select-checkbox",
                    },
                    {
                        'targets': [6],
                        'render': function (e, t, r, n) {
                            var out;
                            if (e === true) {
                                out = '<span class="badge badge-success"> Active </span>'
                            } else out = '<span class="badge badge-warning"> InActive </span>';
                            return out;
                        }
                    }
                ],
                "columns": [
                    {
                        "data": null,
                        "defaultContent": "",
                        "width": "5%"
                    },
                    { "data": "FullName", "name": "FullName", "autoWidth": true },
                    { "data": "PhoneNumber", "name": "PhoneNumber", "autoWidth": true },
                    { "data": "Email", "name": "Email", "autoWidth": true },
                    { "data": "UserName", "name": "UserName", "autoWidth": true },
                    { "data": "RoleName", "name": "RoleName", "autoWidth": true },
                    { "data": "Active", "name": "Active", "autoWidth": true },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="btn-group"><a type="button" class="btn btn-primary btn-sm" href="/User/Detail/' + row.Id + '">Edit</a></div>'

                        }
                    }
                ]
            });
            var oTable = $('#userTable').DataTable();

            $('#btnAddNew').click(function () {
                var url = $('#myModal').data('url');
                $.get(url, function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal('show');
                })
            });
            $('input[name="dept"]').change(function () {
                oTable.draw();
            })

        });
    </script>
}
<div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("AddNewUser", "User")"></div>
@* @if ((AuthorizationService.AuthorizeAsync(User, Permissions.User.View)).Result.Succeeded)
{ *@
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="page-header">
            <div class="page-title">
                <h3>Danh Sách User</h3>
            </div>
            <nav class="breadcrumb-one" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Quản Lý User</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>Danh Sách User</span></li>
                </ol>
            </nav>
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row layout-top-spacing">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">
                                <div class="">
                                    <div class="col-lg-12 text-center">

                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="dept" class="custom-control-input" id="All" checked value="">
                                            <label class="custom-control-label" for="All">All</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="dept" class="custom-control-input" id="Admin" value="Admin">
                                            <label class="custom-control-label" for="Admin">Admin</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="dept" class="custom-control-input" id="User" value="User">
                                            <label class="custom-control-label" for="User">User</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="dept" class="custom-control-input" id="Merchant" value="Merchant">
                                            <label class="custom-control-label" for="Merchant">Merchant</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="dept" class="custom-control-input" id="Customer" value="Customer">
                                            <label class="custom-control-label" for="Customer">Customer</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col-lg-12 text-center mt-2">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <button id="btnAddNew" class="btn btn-success">
                                            <span class="btn-text">Thêm Mới</span>
                                        </button>
                                    }
                                </div>

                                <div class="col-lg-12 mb-2">
                                    <table id="userTable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                            <th>#</th>
                                                <th>Họ Tên</th>
                                                <th>Số Điện Thoại</th>
                                                <th>Email</th>
                                                <th>UserName</th>
                                                <th>Quyền</th>
                                                <th>Tình Trạng</th>
                                                <th>Xem</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                            <th>#</th>
                                                <th>Họ Tên</th>
                                                <th>Số Điện Thoại</th>
                                                <th>Email</th>
                                                <th>UserName</th>
                                                <th>Quyền</th>
                                                <th>Tình Trạng</th>
                                                <th>Xem</th>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
@* } else
{
    <h3>Bạn không có quyền truy cập trang này!</h3>
} *@