@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Access Denied - BookingHotel</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~Admin/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~Admin/dist/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~Admin/dist/css/pages/error/style-503.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

</head>
<body class="error503 text-center">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mr-auto mt-5 text-md-left text-center">
                <a href="/Home" class="ml-md-5">
                    <img alt="Access Denied" src="~Admin/dist/img/90x90.jpg" class="theme-logo">
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid error-content">
        <div class="">
            <h1 class="error-number">503</h1>
            <p class="mini-text">Ooops!</p>
            <p class="error-text">Không được phép truy cập trang này!</p>
            <a href="/Home" class="btn btn-secondary mt-5">Về Trang Chủ</a>
        </div>
    </div>
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~Admin/dist/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~Admin/dist/bootstrap/js/popper.min.js"></script>
    <script src="~Admin/dist/bootstrap/js/bootstrap.min.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>