@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model DataAccess.Models.LoginModel
<div class="login-box">
    <div class="login-logo">
        <a href="#">Booking Hotel</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">ĐĂNG NHẬP QUẢN LÝ</p>
            <form method="post">
                <div class="input-group mb-3">
                    <input id="txtEmail" type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input id="txtPassWord" type="password" class="form-control" placeholder="Mật khẩu">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="icheck-primary mb-3 col-12">
                    <div class="row">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Ghi nhớ đăng nhập
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 ">
                    <div class="col-6">
                        <button style="background-color:#1565c0" type="button" id="btnLogin" class="btn btn-primary btn-block">Đăng nhập</button>
                    </div>
                    <div class="col-6">
                        <button style="background-color:#ef3a25" type="button" id="btnRegister" class="btn btn-primary btn-block">Đăng ký</button>
                    </div>
                </div>
                <!-- /.col -->
                <!-- /.col -->

            </form>

            <div class="social-auth-links text-center mb-3">
                <hr class="hr-text gradient" data-content="HOẶC">
                <div class="mb-2">
                    <a href="#" class="btn btn-block btn-primary" style="background-color:#4267B2">
                        <i class="fab fa-facebook mr-2"></i> Đăng nhập bằng Facebook
                    </a>
                </div>
                <div class="mb-1">
                    <a href="#" class="btn btn-block btn-danger" style="background-color:#db4a39">
                        <i class="fab fa-google-plus mr-2"></i> Đăng nhập bằng Google+
                    </a>
                </div>

            </div>
            <!-- /.social-auth-links -->
            <div class="row col-12">
                <a href="#">Quên mất khẩu</a>
                <!-- /.col -->
                <!-- /.col -->
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnLogin").click(function () {
                Login();
            });
            $("#btnRegister").click(function () {
                Register();
            });
            //Login
            function Login() {
                var email = $("#txtEmail").val();
                var password = $("#txtPassWord").val();
                var param = {
                    Email: email,
                    Password: password
                };
                $.ajax({
                    type: 'POST',
                    url: "/Account/Authen",
                    data: param,
                    dataType: "json",
                    success: function (data) {
                        var token = data.token;
                        if (token != null && token != "") {
                            var expiration = data.expiration;
                            setCookie("TOKEN_SERVER", token, expiration);
                            window.location.href = "/Home"
                        } else {
                            alert("Đăng nhập thất bại");
                        }

                    },
                    error: function (data) {
                        console.log("error:" + JSON.stringify(data));
                    }
                });
            }
            //Register
            function Register() {
                var email = $("#txtEmail").val();
                var password = $("#txtPassWord").val();
                var param = {
                    Email: email,
                    Password: password
                };
                $.ajax({
                    type: 'POST',
                    url: "/Account/Register",
                    data: param,
                    dataType: "json",
                    success: function (data) {
                        var ResponseCode = data.ResponseCode;
                        if (ResponseCode == "1") {
                            alert("Đăng ký thành công");
                        } else {
                            alert("Đăng ký thất bại");
                        }
                        window.location.href = "/Account/Login"
                    },
                    error: function (data) {
                        console.log("error:" + JSON.stringify(data));
                    }
                });
            }
            //Set Cookie
            function setCookie(cname, cvalue, exdays) {
                const d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                let expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }
        });
    </script>
}
