@{
    ViewData["Title"] = "Đăng ký đối tác";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    *{
        box-sizing:border-box;
    }
    .box-partner-register{
        padding-top: 80px;
    }

    .box-partner-register-inner{
        border-radius: 20px;
        margin: auto;
        width: 1140px;
        padding-top: 50px;
        padding-bottom: 50px;   
    }
</style>


<div class="box-partner-register">
    <div class="box-partner-register-inner">
        <script type="text/javascript" src="https://form.jotform.com/jsform/233030346293449"></script>
    </div>
</div> 

