@using DataAccess.Models.SystemsModels;
 @{
    ViewData["Title"] = "Danh sách khách sạn theo chọn lọc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<SystemsViewModel>
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Danh sách phòng</h2>
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="active">Lựa phòng</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Phòng đặc biệt - @Model[0].HotelName</h2>
            <p>Dịch vụ luôn đi đôi với chất lượng, đảm bảo cho cuộc vui chơi của bạn</p>
        </div>
        <div class="row mb_30">
            @if (Model != null)
            {
                foreach (var hotelRoom in Model)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="https://localhost:7204/Avatar/@hotelRoom.RoomImage" alt="">
                                <a asp-controller="booking" asp-action="index" class="btn theme_btn button_hover">Đặt ngay</a>
                            </div>
                            <h4>@hotelRoom.RoomName</h4>
                            <a href="#"><h4 class="sec_h4">@hotelRoom.RoomType</h4></a>
                            <h5>@hotelRoom.Price<small>/đêm</small></h5>
                        </div>
                    </div>
                }
            }
            
            @* <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room2.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đơn</h4></a>
                    <h5>$200<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room3.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng tuần trăng mật</h4></a>
                    <h5>$750<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room4.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng Valentine</h4></a>
                    <h5>$200<small>/đêm</small></h5>
                </div>
            </div> *@
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
<!--================Booking Tabel Area =================-->
<section class="hotel_booking_area">
    <div class="container">
        <div class="hotel_booking_table">
            <div class="col-md-3">
                <h2>ĐẶT PHÒNG<br> CỦA BẠN</h2>
            </div>
            <div class="col-md-9">
                <div class="boking_table">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker11'>
                                        <input type='text' class="form-control" placeholder="Ngày nhận phòng" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" placeholder="Ngày trả phòng" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <select class="wide">
                                        <option data-display="Người lớn">Người lớn</option>
                                        <option value="1">Người già</option>
                                        <option value="2">Người trẻ</option>
                                        <option value="3">Người tàn tật</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <select class="wide">
                                        <option data-display="Trẻ em">Trẻ em</option>
                                        <option value="1">Trẻ em</option>
                                        <option value="2">Em bé</option>
                                        <option value="3">Trẻ sơ sinh</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <select class="wide">
                                        <option data-display="Số phòng">Danh sách</option>
                                        <option value="1">Phòng 01</option>
                                        <option value="2">Phòng 02</option>
                                        <option value="3">Phòng 03</option>
                                    </select>
                                </div>
                                <a class="book_now_btn button_hover" href="#">Đặt ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Các loại phòng thường</h2>
            <p>Dịch vụ luôn đi đôi với chất lượng, đảm bảo cho cuộc vui chơi của bạn</p>
        </div>
        <div class="row accomodation_two">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a asp-controller="booking" asp-action="Confirm" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đôi</h4></a>
                    <h5>$250<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đôi</h4></a>
                    <h5>$250<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đôi</h4></a>
                    <h5>$250<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đôi</h4></a>
                    <h5>$250<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đôi</h4></a>
                    <h5>$250<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đôi</h4></a>
                    <h5>$250<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đôi</h4></a>
                    <h5>$250<small>/đêm</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a asp-controller="hotel" asp-action="HotelDetail" class="btn theme_btn button_hover">Đặt ngay</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Phòng giường đôi</h4></a>
                    <h5>$250<small>/đêm</small></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
<!--================Booking Tabel Area  =================-->
<!--================ Accomodation Area  =================-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="~/vendors/nice-select/js/jquery.nice-select.js"></script>
<script src="~/js/mail-script.js"></script>
<script src="~/js/stellar.js"></script>
<script src="~/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="~/js/custom.js"></script>