@{
    ViewBag.Title = "Thông Tin Khách Hàng";
    Layout = "_AdminLayout";
}
@section scripts
    {
    <!-- Data table JavaScript -->
    <script>
        $(document).ready(function () {
            "use strict";
            $("#cutomerTable").DataTable({
                "processing": true,
                "serverSide": true,
                "select": false,
                "filter": true,
                "ordering": true,
                "searching": true,
                "pageLength": 50,
                "lengthMenu": [20, 50, 100, 200],
                "dom": '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"lrt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
                "buttons": [
                    { extend: 'excelHtml5', className: 'btn' },
                    { extend: 'selectAll', className: 'btn' },
                    { extend: 'selectNone', className: 'btn' },
                ],
                "language": {
                    "emptyTable": "Không có dữ liệu nào",
                    "search": "Tìm Kiếm:",
                    "lengthMenu": "Hiển thị  _MENU_  dòng",
                    "info": "Hiển thị _START_ đến _END_ trên tổng số _TOTAL_ kết quả",
                    "zeroRecords": "Không tìm thấy kết quả phù hợp",
                    "loadingRecords": "Đợi Chút Nha....",
                    "processing": "Đợi Xíu Nha....",
                    "infoEmpty": "Không có dữ liệu nào",
                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    "sSearchPlaceholder": "Search...",
                    "sLengthMenu": "Results :  _MENU_"
                },
                "ajax": {
                    "url": "/Customer/LoadData",
                    "dataSrc": "dataResult",
                    "type": "post",
                    "datatype": "json",
                    "data": function (data) {

                    }
                },
                "columnDefs": [
                    {
                        'targets': [0],
                        "visible": false,
                    }
                ],
                "columns": [
                    { "data": "CusCode", "name": "CusCode", "autoWidth": true },
                    { "data": "CusFullName", "name": "CusFullName", "autoWidth": true },
                    { "data": "CusPhone", "name": "CusPhone", "autoWidth": true },
                    { "data": "CusEmail", "name": "CusEmail", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="btn-group"><a type="button" class="btn btn-primary btn-sm" href="/Customer/Detail/' + row.Id + '">Edit</a></div>'

                        }
                    }
                ]
            });
            var oTable = $('#cutomerTable').DataTable();
        });
    </script>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="page-header">
        <div class="page-title">
            <h3>Danh Sách Khách Hàng</h3>
        </div>
        <nav class="breadcrumb-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Quản Lý Khách Hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>Danh Sách Khách Hàng</span></li>
            </ol>
        </nav>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!--/. container-fluid -->
            <form>
                <div class="row layout-top-spacing">
                    <div class="col-12">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10 text-left">Từ Ngày</label>
                                            <input type='text' id="fromDate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10 text-left">Đến Ngày</label>
                                            <input type='text' id="toDate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Nhân Viên Tạo</label>
                                            <select id="SelectedUser" class="custom-select form-control-border" data-live-search="true"
                                                    data-dropup-auto="false" asp-items="ViewBag.SearchByUser">
                                                <option selected value="">Chọn Nhân Viên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">NV Xử lý</label>
                                            <select id="processBy" class="selectpicker form-control" data-live-search="true"
                                                    data-dropup-auto="false" asp-items="ViewBag.SearchByUser">
                                                <option selected value="">Chọn Nhân Viên</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Trạng Thái</label>
                                            <select id="SelectedStatus" name="SelectedStatus[]" class="selectpicker form-control"
                                                    data-actions-box="true" data-live-search="true" multiple
                                                    @* asp-items="Html.GetEnumSelectList<CC247.Core.Warning.Status>()" *@
                                                    title="Chọn Trạng Thái">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">Loại Dịch Vụ</label>
                                            <select id="SelectedType" name="SelectedType[]" title="Chọn Loại Dịch Vụ"
                                                    class="selectpicker form-control"
                                                    data-actions-box="true" data-live-search="true" multiple>
                                                <option value="ngungAcbo">Ngưng ACBO</option>
                                                <option value="khoaUser">Khóa User</option>
                                                <option value="momo">Hủy Ví Momo</option>
                                                <option value="shopee">Hủy Ví Shopee</option>
                                                <option value="zalo">Hủy Ví Zalo</option>
                                                <option value="ghtk">Hủy Ví Khác</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Tìm Kiếm</label>
                                            <div class="input-group">
                                                <input type="text" name="searchStringValue"
                                                       placeholder="Tìm kiếm (Tên, Phone, STK)" id="searchStringValue"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="text-center mt-3">
                                    <div class="button-list">
                                        <button id="btnQuery" type="button" asp-action="LoadData" class="btn btn-primary"
                                                class="pull-right">
                                            Truy Vấn
                                        </button>
                                        <button id="btnAddNew" type="button" class="btn btn-success" class="pull-right">
                                            Thêm Mới
                                        </button>
                                        <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog"
                                             aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="WarningDetailModal"
                                             data-url="@Url.Action("CustomerDetail", "Customer")"></div>
                                        <div class="modal fade bs-example-modal-xl" role="dialog"
                                             aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="WarningDetailModal"
                                             data-url="@Url.Action("CustomerDetail", "Customer")"></div>
                                    </div>
                                </div>
                                <div class="table-wrap mt-2">
                                    <div class="table-responsive style-1">
                                        <table id="cutomerTable" class="table style-1 table-hover non-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Họ Tên</th>
                                                    <th>Số Điện Thoại</th>
                                                    <th>Email</th>
                                                    <th>Lời Nhắn</th>
                                                    <th>Xem</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Họ Tên</th>
                                                    <th>Số Điện Thoại</th>
                                                    <th>Email</th>
                                                    <th>Lời Nhắn</th>
                                                    <th>Xem</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--/. container-fluid -->
        </div>
    </section>
</div>
